#ingore genome, input , output
/genome/*
!/genome/.gitkeep
/input/*
/input/.gitkeep
/output/*/
/test/

#ignore files with specified types
*.out
*.log
*.pids

#ignore vim temporary files
*~
*.swp

#ignore files in SOFTWARE but not in sub folder PACKAGE
/software/*
!/software/package/

#ignore generated scripts
/script/*
!/script/.gitkeep

#ignore local bak file
*.bak
